/* CSS Document */
#container{
 position:relative;
 margin:100px auto;
 height:auto;
 width:400px;
 border:1px solid #5D5D5D;
 padding:20px;
}
#container1
{
 position:relative;
 margin:0px auto;
 height:1000px;
 width:100%;
 
}
#footer
{
 float:left;
 height:100px;
 width:100%;
 background-color:#CCC;
 margin-top:2px;
}
#main
{
 float:left;
 height:1000px;
 width:1300px;
 
}
#main_left
{
 float:left;
 height:800px;
 width:25%;
 background-color:#FFF;
 padding-left: 5%;
}
#main_right
{
 float:right;
 height:800px;
 width:70%;
 
}
#sanpham
{
 float: left;
 height: 280px;
 width: 270px; 
 margin-top:5px;
 margin-left:5px;
}
#sanpham_tieude
{
 float: left;
 height: 20px;
 width: 100px;
 color: #000;
}
#sanpham_gia
{
 float: left;
 background-color: #F5D737;
 height: 25px;
 width: 80px;
 text-align: center;
 margin-right: 70px;
 margin-bottom: 10px;
 font-weight: bold;
 color: #FFF;
}
#sanpham_hinh
{
 float: left;
 height: 200px;
 width: 220px; 
 
}
#addvegetable
{
 position:relative;
 margin:100px auto;
 height:auto;
 width:400px;
 border:1px solid #5D5D5D;
 padding:20px;
}